<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKThfMXmQ1_ybAVsREpYgmcPyWv5rii-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>232349178489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appteste</string>
	<key>PROJECT_ID</key>
	<string>fluyo-test-93944</string>
	<key>STORAGE_BUCKET</key>
	<string>fluyo-test-93944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232349178489:ios:488a8f8c7c96f0cfd412a8</string>
</dict>
</plist>